[package]
name = "rusty_fusion"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
polling = "2.8.0"
#bcrypt = "0.15"
num-traits = "0.2"
num-derive = "0.3"
rand = "0.8.4"
