name: Build and Check

on:
  push:
    branches: [ "main" ]
    paths:
      - src/**
      - Cargo.toml
      - Cargo.lock
  pull_request:
    branches: [ "main" ]
    paths:
      - src/**
      - Cargo.toml
      - Cargo.lock
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable
    - name: Build base
      run: cargo build --verbose --no-default-features
    - name: Build with PostgreSQL
      run: cargo build --verbose --no-default-features --features postgres
    - name: Run tests
      run: cargo test --verbose
    - name: Check linter
      run: cargo clippy -- -Dwarnings
    - name: Check formatting
      run: cargo fmt --check
